/*p {
    color:red;
}*/

.error{
    color: red;
}
#p1{
    background-color:blue ;
}

.sucess.feedback {
    background-color: green;
}

.nata {
    background-color: pink;
}

div .error{
    color:orange;
}

a[href]{
    background-color: yellow;
}
a[href="https://www.postani.it"]
{
    color: brown;
     font-weight:bold;
     text-transform:uppercase;
     background-color: green;
}